@use "scss/colors.scss";
@use "scss/profile.scss";
@use "scss/elements.scss";
@use "scss/navbar.scss";
@use "scss/portfolio.scss";
@use "scss/blog.scss";

body {
	margin: 0;
	padding: 0;
	color: #f0f0f0;
	background-color: colors.$background-color;
	font-family: Arial, sans-serif;

	.container {
		display: flex;
		width: 100%;
		margin: 1rem 0;
		gap: 1.5rem;
		flex-direction: column;
		align-items: center;
	}

	.layout {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		padding: 0 10px;
		gap: 20px;

		* {
			box-sizing: border-box;
			font-family: 'Helvetica Neue', Arial, sans-serif;
		}

		>h1 {
			margin: 0;
			font-size: 36px;
			color: #e0e0e0;
			text-shadow: 0 4px 2px black;
		}

		>h2 {
			margin-top: -20px;
			padding: 20px 0;
			font-size: 32px;
			color: #e0e0e0;
			text-shadow: 0 4px 2px black;
		}
	}

	.center-layout {
		display: flex;
		width: 100%;
		height: 85vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.text-highlight {
		color: colors.$highlight-color;
		text-shadow: 0 0 8px colors.$highlight-color;
	}
}

@media (max-width: 768px) {
	body {
		.layout {
			>h1 {
				font-size: 24px;
			}

			>h2 {
				font-size: 20px;
			}
		}
	}
}